/* Réinitialisation des marges, des rembourrages, de la police de caractères et de la boîte de modèle */
* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

/* Définition du comportement de défilement en douceur pour la page */
html {
    scroll-behavior: smooth;
}

/* Styles de base pour le corps de la page */
body {
    background: #141212; /* Arrière-plan noir foncé */
    color: #fff; /* Texte blanc */
}

/* Styles pour l'en-tête de la page */
#header {
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png); /* Image d'arrière-plan */
    background-size: cover;
    background-position: center;
}

/* Conteneur pour le contenu de la page */
.container {
    padding: 10px 10%;
}

/* Styles pour la barre de navigation */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Style du logo */
.logo {
    width: 300px;
}

/* Styles pour les éléments de la barre de navigation */
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

/* Styles pour les liens dans la barre de navigation */
nav ul li a {
    color: #ffffff; /* Couleur du texte blanc */
    text-decoration: none;
    font-size: 25px;
    position: relative;
}

/* Styles pour le trait sous les liens au survol */
nav ul li a::after {
    content: "";
    width: 0;
    height: 3px;
    background: #e45603; /* Couleur orange */
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

/* Styles au survol des liens pour afficher le trait */
nav ul li a:hover::after {
    width: 100%;
}

/* Styles pour le texte d'en-tête */
.header-text {
    margin-top: 20%; /* Marge supérieure pour centrer le texte verticalement */
    font-size: 60px;
}

/* Styles pour le titre principal */
.header-text h1 {
    font-size: 60px;
    margin-top: 20px; /* Marge supérieure du titre principal */
}

/* Style pour la partie de texte en couleur dans le titre principal */
.header-text h1 span {
    color: #e45603; /* Couleur orange */
}